# OPENHIM CONFIGURATION
OPENHIM_API_URL="https://openhim-core:8080"
OPENHIM_USERNAME="root@openhim.org"
OPENHIM_PASSWORD="your-password"

# ALLOW OPENHIM SELF SIGNED CERT
NODE_TLS_REJECT_UNAUTHORIZED="0"

# MEDIATOR CONFIG - WILL BE CREATED AUTOMATICALLY BY THIS APPLICATION ON START
CAREPAY_MEDIATOR_ENDPOINT="http://openhim-core:5001/beneficiary/carepay"
OPENHIM_CLIENT_ID="hapi-fhir"
OPENHIM_CLIENT_PASSWORD="hapi-fhir-client-password"


## FHIR SERVER
FHIR_BASE_URL="http://hapi-fhir-jpa:8080/fhir"


## CAREPAY CONFIGURATION
CAREPAY_BASE_URL="https://api.ae-test.carepay.dev/api/v3"
CAREPAY_USERNAME=""
CAREPAY_PASSWORD=""
CAREPAY_POLICY_ID=""

## FHIR SUBSCRIPTION URL
FHIR_SUBSCRIPTION_ID="mamatoto-patient-listener"
FHIR_SUBSCRIPTION_CALLBACK_URL="http://mediators:3000/beneficiary/notifications"